<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function join_click() {
            let member_mail = $('#user_mail').val()
            let member_id = $('#user_id').val()
            let member_pw = $('#user_pw').val()
            $.ajax({
                type: 'POST',
                url: '/join_member',
                data: {
                    'member_mail_give': member_mail,
                    'member_id_give': member_id,
                    'member_pw_give': member_pw, },
                success: function (response) {
                    // 빨간줄이 왜 뜨나했는데 if (안에 담아야했었네요)
                    if (response['reult'] =="join")
                        window.location.replace('index')
                    // 회원가입 버튼이 눌리면 replace 해서 메인화면으로 이동
                }
            })
        }

        function push_check() {
            let check_id = $('#user_mail').val()
            $.ajax({
                type: 'POST',
                url: '/join_member',
                data: { 'is_same' : check_id},
                success: function (response) {
                    if (response['reult'] == "success")
                        alert("중복입니다")
                    // 아직 보류 중복확인을 어떻게 해야할지 상의 해봐야할듯함
                    // 생각은 이러하다 회원가입하기 버튼을 눌렀을때 입력값 전달받고 받는 동시에
                    // db에 입력된 이메일과 같으면서 id값이 같은게 있으면 중복처리 alter 아이디가 이미있습니다 출력
                }
            })
        }
    </script>
</head>
<body>
<div class="input_box"></div>
<input type="email" placeholder="이메일" id="user_mail" ><br>
<input type="text" placeholder="아이디" id="user_id" ><br>
<button onclick="push_check()">중복확인</button>
<input type="password" placeholder="비밀번호" id="user_pw"><br>
<button onclick="join_click()">회원가입</button>
</body>
</html>